@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.page {
  background-color: white;
  width: 21cm;
  height: 29.7cm;
  display: flex;
  flex-direction: row;
}

.leftHandColumn {
  width: 37.5%;
  background-color: rgb(180, 180, 180);
  color: black;
  font-size: 14px;

  & h1 {
    color: white;
    font-size: 24px;
  }

  & h2 {
    color: white;
    font-size: 18px;
  }

  .personalInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    .details {
      margin-bottom: 8px;

      & span {
        line-height: 24px;
        align-items: center;
      }
    }
  }

  .education {
    margin-bottom: 8px;

    & span {
      align-items: center;
    }
  }

  .skills {
    margin-bottom: 8px;

    & li {
      min-width: 50%;
      list-style-type: circle;
      list-style-position: inside;
    }
  }

  .personalInterests {
    & li {
      list-style-type: circle;
      list-style-position: inside;
    }
  }
}

.rightHandColumn {
  width: 62.5%;
  padding: 1.25rem;
  font-size: 14px;

  & h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .jobWrapper {
    width: 100%;
    margin-bottom: 8px;

    .jobHeader {
      display: flex;
      justify-content: space-between;

      margin-bottom: 8px;
      /* line-height: 36px; */
      font-weight: bold;
    }

    .jobDescription {
      & li {
        list-style-type: circle;
        list-style-position: inside;
      }
    }
  }
}
