@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 6rem; */
}

.page {
  width: 21cm;
  height: 29.7cm;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  font-size: 13.5px;

  & h1 {
    font-size: 28px;
  }

  & h2 {
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
  }

  .personalInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;

    .name {
      text-align: center;
    }

    .details {
      margin-bottom: 8px;
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      align-self: center;
      justify-content: center;

      & span {
        display: flex;
        line-height: 24px;
        align-items: center;
        margin-right: 12px;
      }
    }

    .statement {
      text-align: center;
    }
  }

  .education {
    margin-bottom: 6px;

    .details {
      margin-bottom: 8px;
      display: flex;
      flex-wrap: wrap;

      & span {
        display: flex;
        line-height: 24px;
        align-items: center;
        margin-right: 24px;
      }
    }

    & span {
      align-items: center;
    }
  }

  .skills {
    margin-bottom: 6px;

    .skills--details {
      display: flex;
      flex-wrap: wrap;

      & li {
        min-width: 20%;
        list-style-type: circle;
        list-style-position: inside;
      }
    }
  }

  .personalInterests {
    & li {
      list-style-type: circle;
      list-style-position: inside;
    }
  }

  .jobWrapper {
    width: 100%;
    margin-bottom: 6px;

    .jobHeader {
      display: flex;
      justify-content: space-between;

      margin-bottom: 8px;
      /* line-height: 36px; */
      font-weight: bold;
    }

    .jobDescription {
      & li {
        list-style-type: circle;
        list-style-position: inside;
      }
    }
  }
}
